:root {
  --cp-bg-dark: #111;
  --cp-card-bg-start: #2a2a5a;
  --cp-card-bg-mid: #15152a;
  --cp-card-bg-end: #0a0a15;
  --cp-accent-yellow: #fce96a;
  --cp-accent-purple: #bf5ec2;
  --cp-font-main: 'Montserrat', sans-serif;
}